[Desktop Entry]
Name=Foxxy

X-KDE-PluginInfo-Name=foxxy
X-KDE-PluginInfo-Author=Foxxy Dev Team
X-KDE-PluginInfo-Email=foxxy-devel@lists.foxxysec.org
#X-KDE-PluginInfo-License=GPL-2
