[Desktop Entry]
Name=Foxxy Lockscreen
Name[fr]=Écran de verrouillage pour Foxxy
X-KDE-PluginInfo-Name=FoxxyLockScreen
X-KDE-PluginInfo-Author=Foxxy Dev Team
X-KDE-PluginInfo-Email=foxxy-devel@lists.foxxysec.org
